<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="no">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/favicon/favicon-32x32.png}" />
    <title>god dag mann</title>
</head>
<body>
    <h1>Økseskaft</h1>
    <div>
        <strong>Active kusker</strong>
        <table>
            <tr th:each="kusk : ${kusker}">
                <td th:text="${kusk.name}">First</td>
                <td th:text="${kusk.currentBane}">Last</td>
            </tr>
        </table>
    </div>
</body>
</html>