name: Build, Test and deploy Dommern

on:
  push:
    branches:
      - feat/ci-cd-raspberry-pi

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Build and test dommern project
      uses : .github/actions/gradle-build/action.yml

    - name: Deploy to Pi using Tailscale
      uses: .github/actions/gradle-build/action.yml

